#
# Enedigo configuration file
#


# Enedis
#   -> user     : your login on Enedis website
#   -> password : your password on Enedis website
#   -> maxPower : the maximum power on your installation (in kWH) : usually 6 or 9)

enedis:
    user: ""
    password: ""
    maxPower: 6
    offpeakPeriods:
        - from: "01:00"
          to: "07:00"

        - from: "12:30"
          to: "14:30"


# Provider settings
#   -> name                 : Name of your provider (just informational)
#   -> annualFee            : Cost of the annual subcription (in €)
#   -> maxPower             : Maximum capacity enabled on your subcription (6, 7, 9 kVA ...)
#   -> peakOffpeakEnabled   : Whether or not you have an 'Peak/Offpeak' subcription
#   -> pricePerKwh          : The price (in €) that you pay the kWH
#   -> pricePerKwhPeak      : The price (in €) that you pay the kWH in peak hours
#   -> pricePerKwhOffpeak   : The price (in €) that you pay the kWH in off-peak hours

provider:
    name: "EDF"
    annualFee: 151.32
    maxPower: 9
    peakOffpeakEnabled: true
    pricePerKwh: 0.1467
    pricePerKwhPeak: 0.1579
    pricePerKwhOffpeak: 0.1228


# InfluxDB settings
#   -> url      : The URL of the influxDB http endpoint (ex: http://localhost:8086)
#   -> user     : The user of influxdb access
#   -> password : The password
#   -> database : THe database you want to use
#   -> measure  : The measurement you want to push points to

influx:
    url: "http://localhost:8086"
    user: "linky"
    password: ""
    database: "linky"
    measure: "conso_elec"